<link rel="stylesheet" href="/css/footer.css">

<footer id="footer">
    <span>Created and Maintained by Lovekesh</span>
    <div id="social-contact">
        <span> Connect with me : </span>
        <a href="https://wa.me/919588169756" target="_blank"><img src="/images/whatsapp.png"></a>
        <a href="mailto:?Kumarmehlan@gmail.com" target="_blank"><img src="/images/mail.png"></a>
        <a href="https://www.instagram.com/lovekesh100/" target="_blank"><img src="/images/instagram.png"></a>
    </div>
</footer>