<link rel="stylesheet" href="/css/header.css">

<header id="header">
    <h2><a href="/" style= "text-decoration: none; color: black;"> Codeial | Home </a></h2>

    <div id="user-info">
        <% if(locals.user) { %> 
                
            <a href="/users/profile/<%= user.id %>" id="user-name" class="text-white"><%= user.name %></a>
        
            <a href="/users/sign-out" class="text-white">Sign out</a>
                
        <% }else{ %> 
                
            <a href="/users/sign-in" class="text-white">Sign In</a>
        
            <a href="/users/sign-up" class="text-white">Sign Up</a>
                
        <% } %>
    </div>
</header>