<link rel="stylesheet" href="/css/forgot-password.css">
<div id="sign-in-cover">
    <img src="/images/sign-in-cover.jpg" alt="background cover">
</div>
<div id="forgot-password-div">
    <span><b>Enter your Email to send password reset link</b></span>
    <form id="forgot-password-form" action="/users/forgot-password-mail" method="POST">
        <input name="email" type="email" placeholder="Enter Your Email">
        <button type="submit">Send Email</button>
    </form>
    <a href="/users/sign-in">Oh ! I just remembred it. I will Sign In</a>
</div>