<h1>Sign in</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter passowrd" required>
    <button type="submit">Login</button>
</form>