<link rel="stylesheet" href="/css/sign-up.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="sign-in-cover">
    <img src="/images/sign-in-cover.jpg" alt="background cover">
</div>

<div id="sign-up-form-div">
    <div id="account-create-div">
        <form id="sign-up-form" action="/users/create" method="POST" >
            <input type="text" name="name" placeholder="Username" required autocomplete="off">
            <input type="email" name="email" placeholder="Email" required autocomplete="off">
            <input type="password" name="password" placeholder="Password..." required>
            <input type="password" name="conform_password" placeholder="Conform Password..." required>
            <input type="submit" value="Sign Up">
        </form>
        <span id="sign-in-option">Already have an account? <a href="/users/sign-in"><b>Sign In</b></a> Instead</span>
    </div>
    
    <div id="social-login-div">
        <span>Sign Up to Add Posts and Comments but make sure to Block your Relatives first</span>
        <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Sign Up with Facebook
        </a>
        <a href="#" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Sign Up with Twitter
        </a>
        <a href="#" class="google btn">
            <i class="fa fa-google fa-fw"></i> Sign Up with Google+
        </a>
          
    </div>
</div>

