body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    text-transform: none;
}

.light-grey{
    color: lightgrey;
}
.grey{
    color: gray;
}
#layout-container {
    display: flex;
}

#left-section {
    width: 20vw;
    height: 90vh;
    overflow: auto;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 10vh;
}

#left-section::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}

#left-section:hover::-webkit-scrollbar{
    background: #f1f1f1;
}
#left-section::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#left-section::-webkit-scrollbar-thumb {
    background: transparent;
}

#left-section:hover::-webkit-scrollbar-thumb{
    background: #888;
}

/* Handle on hover */
#left-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#left-section img{
    border-radius: 50%;
}



#left-section .material-icons{
    font-size: 26px;
}


#website-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    border-bottom: 1px solid black;
    font-style: italic;
    background-color: white;
    z-index: 3;

}
#left-side-website-logo{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid black;
    padding: 3px 8px;
    box-sizing: border-box;
}

#search-bar form{
    position: relative;
    width: 30vw;
    height: 40px;
    padding: 6px;
    margin: 0;
}
#search-bar input{
    height: 76%;
    width: 85%;
    position: absolute;
    padding: 0;
    outline: none;
    border-radius: 10px;
    padding-left: 40px;
    font-size: 20px;
    border: none;
    background-color: #edecec;
    color: #7b7bbc;
}
#search-bar button{
    position: absolute;
    left: 5px;
    top: 12px;
    background: transparent;
    border: none;
    color: #7b7bbc;
}
#profile-settings{
    /* margin-left: 4vw; */
    color: gray;
    font-size: 22px !important;
}

#website-logo img{
    height: 30px;
    width: 30px;
}


#curr-user-info{
    width: 100%;
    height: 180px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#curr-user-info img{
    box-shadow: 2px 2px 8px black;
}

.center-align-div{
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.4s ease-in-out;
   
}
.center-align-div:hover{
    background-color: lightgray;
}
.left-margin-15{
    margin-left: 15px;
}

.left-margin-30{
    margin-left: 30px;
}

.left-margin-27{
    margin-left: 27px;
}

.blue{
    color: blue;
    
}
.blue1{
    color: blue;
    position: relative;
}
.blue1::before{
    content: '';
    width: 6px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: -81px;
    background-color: blue;

}
.center-align-div a{
    width: 100%;
    display: flex;
    align-items: center;
}

#center-section {
    width: 45vw;
    min-height: 100vh;
    /* height: 100vh; */
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding-top: 20px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#create-new-post {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: whitesmoke;
    border-radius: 15px;
}

#new-post-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
#new-post-form #profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#new-post-form textarea {
    border-radius: 10px;
    width: 80%;
    margin-top: 15px;
    outline: none;
    padding: 5px;
}
#new-post-form #new-post-submit-button {
    margin-left: 80%;
    width: 90px;
    height: 30px;
    font-size: 20px;
    color: lightskyblue;
    background-color: whitesmoke;
    border: 2px solid lightskyblue;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.5s;
    outline: none;
}
#new-post-form #new-post-submit-button:hover {
    color: white;
    background-color: lightskyblue;
}

.one-post {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.1s ease-in;
}

.one-post:hover .delete-post{
    display: initial;
}

.delete-post{
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: none;
}

.delete{
    color: black;
    transition: all 0.1s ease-in;
}

.delete:hover{
    color: red;
}

.post-content{
  position: absolute;
  left: 20px;
  top: 8px;
  width: 80%;
}

.post-author{
  position: absolute;
  right: 20px;
  top: 8px;
}

.comment-section{
  margin-top: 40px;
}

.comment-input{
    width: 200px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid black;
}

.comment-submit{
    background-color: transparent;
    border: 2px solid rgb(167, 167, 255);
    border-radius: 4px;
    height: 20px;
    width: 60px;
    color: rgb(167, 167, 255);
    transition: all 0.1s ease-in;
}

.comment-submit:hover{
    background-color: rgb(167, 167, 255);
    color: white;

}

.one-comment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.one-comment:hover .delete-comment{
    display: initial;
}

.delete-comment{
    display: none;
    color: black;
    font-size: 18px;
    transition: all 0.1s ease-in;
}

.delete-comment:hover{
    color: red;
}


#right-section {
    width: 25vw;
    background-color: #ebe1e1;
    /* height: 100vh; */
    min-height: 100vh;
    padding-right: 5vw;
    box-sizing: content-box;
}
