#header{
    width: 0 !important;
    height: 0 !important; 
    overflow: hidden;
}

#footer{
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
}

#cover-image{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url('/images/cover-image.jpg');
    background-color: thistle;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

#horizontal-cover-strip{
    width: 30vw;
    height: 100vh;
    position: fixed;
    background-color: white;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
    box-sizing: border-box;
    left: 20vw;
    top: 0;
    border-left: 1px solid black;
}

#profile-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#profile-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 2px 4px 10px black;
}

#user-name{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#user-info-div{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#posts-and-comments-count{
    width: 100%;
    height: 12vh;
    background-color: lightgrey;
    display: flex;
    padding: 10px 20%;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    
}

#posts-and-comments-count img{
    width: 40px;
    height: 40px;
}

#posts-and-comments-count span{
    width: 40px;
    height: auto;
    text-align: center;
}
#about-user{
    padding: 0px 20px;
    text-align: center;
}
#user-social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
}

#user-social img{
    width: 30px;
    height: 30px;
    filter: grayscale(0.3);
}
#user-social img:hover{
    filter: grayscale(0);
}
#edit-profile{
    width: 90%;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgb(8, 85, 8);
    filter: grayscale(0.5);
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 4vh;
}

#edit-profile:hover{
    filter: grayscale(0);
}
#profile-update-form{
    width: 100%;
}

#profile-update-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid black;
}

#profile-update-form textarea{
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid black;
}

#profile-update-form button{
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(8, 85, 8);
    filter: grayscale(0.5);
    color: white;
    border-radius: 8px;
    
}

#box-div{
    height: 50vh;
    width: 100%;
    overflow: scroll;
}

.transformClassUp{
    transition: all 1s ease-in-out;
    transform: translateY(-50vh);
}

.transformClassDown{
    transition: all 1s ease-in-out;
    transform: translateY(0vh);
}

.button{
    background-color: red;
}

#box-div::-webkit-scrollbar {
    display: none;
  }
  