<div style="background-color: palegoldenrod;">
    <p>From code<span style="color: orange;">ial</span></p>
    <p>Hi <%= token.user.name %></p>
    <br>
    <br>
    <a href="http://localhost:8000/users/reset-link/<%= token.accessToken %>">click here</a>
    <p>Click <a href="http://localhost:8000/users/reset-link/<%= token.accessToken %>"></a><strong>Here</strong> to reset your password</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>